/* footer */
.dato{ 
 display: flex;   
 align-content: center;  
 padding-left: 20px;      
    
}
/* footer */

.contenedor-footer{
 display: flex;
 align-content: center;
 padding-top: 10px;
    
}
.dato-cr h6{
    display: flex;
    justify-content: start;
    padding-top: 15px;
    font-size: 1rem;
    
}

#contactenosTexto{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 15px;
}

.background-footer{
    background-color: rgba(147, 187, 124, 0.5);
    padding-top: 5px;


}
.fondo-footer{

    height: 170px;
    
} 

