/* footer */
.dato{ 
    display: flex;
    align-items: center;
    padding-left: 20px;
}
/* footer */
.icono{
    display: flex;
    align-items: center;
    margin-left: 15px;

}
.contenedor-telefono{
    display: flex;
    align-items: center;
}
/* footer */
#contactenosTexto{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 15px;
}

.background-footer{
    background-color: rgba(147, 187, 124, 0.5);

}
.fondo-footer{

    height: 100px;
    margin-top: 40px;
} 

